@import normalize
@import _settings
@import foundation

//fix google map
.gm-style
  img
    max-width: none

  label
    width: auto
    display: inline

// sprite icons
// @import 'icon/*.png'
// +all-icon-sprites

body
  background: url(../images/bg.png)
  -webkit-font-smoothing: antialiased !important
  text-shadow: 1px 1px 1px rgba(black, .004)
  color: darken(gray, 10%)